body{
    background: url("../images/bg.png");
}

footer{
    padding-top: 5em !important;
    padding-bottom: 5em !important;
}

footer h4{
    font-weight: 300 !important;
    letter-spacing: 1px !important;
}
footer p{
    font-weight: 300 !important;
    letter-spacing: 1px !important;
    opacity: 0.8 !important;
}

#types>div{
    margin: 10px;
}

#commandList a{
    color: #333;
}

/*----------------------*/
.m-mobile-show{
    display: none !important;
}

@media screen and (max-width: 768px){
    .m-mobile-hide{
        display: none !important;
    }
    .m-mobile-show{
        display: block !important;
    }
    .m-mobile-lr-clear{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .m-padded-lr-responsive {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .m-mobile-wide{
        width: 100%;
    }

}
/*----------------*/

.m-fixed {
    position: fixed !important;
    z-index: 10 !important;
}

.m-right-bottom{
    bottom: 0 !important;
    right: 0 !important;
}
/*----------------*/
.m-shadow-small {
    -webkit-box-shadow: 0 4px 8px rgba(0,0,0,0.2); !important;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); !important;
}

.m-top-right{
    position: absolute;
    top: 0;
    right: 0;
}

.m-margin-top-large{
    margin-top: 2em !important;
}

.m-margin-tb-tiny{
    margin-top: 0.3em !important;
    margin-bottom: 0.3em !important;
}

.m-margin-r{
   margin-right: 10px !important;
}

.m-margin-bottom-small{
    margin-bottom: 0.5em !important;
}

.m-padded-mini{
    padding: 0.3em !important;
}

.m-padded-mini{
    padding: 0.3em !important;
}

.m-padded{
    padding: 1em !important;
}

.m-padded-tb-mini{
    padding-top: 0.2em !important;
    padding-bottom: 0.2em !important;
}

.m-padded-tb-tiny{
    padding-top: 0.3em !important;
    padding-bottom: 0.3em !important;
}

.m-padded-tb-small{
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
}

.m-padded-tb{
    padding-top: 1em !important;
    padding-bottom: 1em !important;
}

.m-padded-tb-large{
    padding-top: 2em !important;
    padding-bottom: 2em !important;
}

.m-padded-tb-big{
    padding-top: 3em !important;
    padding-bottom: 3em !important;
}

.m-padded-tb-huge{
    padding-top: 4em !important;
    padding-bottom: 4em !important;
}

.m-padded-tb-massive{
    padding-top: 5em !important;
    padding-bottom: 5em !important;
}

.m-padded-lr-responsive{
    padding-left: 4em !important;
    padding-right: 4em !important;
}

.m-text{
    font-weight: 300 !important;
    letter-spacing: 1px !important;
    line-height: 1.8;
}
.m-text-thin{
    font-weight: 300 !important;
}
.m-text-spaced{
    letter-spacing: 1px !important;
}
.m-text-lined{
    line-height: 1.8;
}
.m-opacity-mini{
    opacity: 0.8 !important;
}

.m-opacity-tiny{
    opacity: 0.6 !important;
}

.m-container{
    max-width: 72em !important;
    margin: auto !important;
}

.m-container-small{
    max-width: 60em !important;
    margin: auto !important;
}

/*display*/

.m-inline-block {
    display: inline-block !important;
}

/*旅遊景點圖*/

.tourist {
    color: darkred;
    background: transparent;
    font-size: large;
    position: absolute;
    z-index:2;
    border-color: transparent;
    cursor: pointer;
    width:10px;
    height:10px;
}

/*181 271*/
/*8.38 5.64*/
#臺灣鹽博物館 {
    left: 21.6%;
    top: 48%;
}

#七股鹽山 {
    left: 20.29%;
    top: 49.65%;
}

#北門遊客中心 {
    left: 23.51%;
    top: 28.37%;
}

#井仔腳瓦盤鹽田 {
    left: 21.48%;
    top: 30.14%;
}

#尖山埤江南渡假村 {
    left: 50.48%;
    top: 32.45%;
}

#烏山頭水庫風景區 {
    left: 48.81%;
    top: 38.65%;
}

#曾文水庫 {
    left: 68.02%;
    top: 31.03%;
}

#關子嶺溫泉區 {
    left: 63.25%;
    top: 15.07%;
}

#虎頭埤風景區 {
    left: 46.06%;
    top: 69.33%;
}

#南元休閒農場 {
    left: 51.91%;
    top: 30.14%;
}

#走馬瀨農場 {
    left: 55.49%;
    top: 50.53%;
}

#烏樹林休閒園區 {
    left: 50.12%;
    top: 17.73%;
}

#頑皮世界 {
    left: 32.58%;
    top: 26.6%;
}

#南鯤鯓代天府 {
    left: 25.78%;
    top: 24.82%;
}

#麻豆代天府 {
    left: 38.54%;
    top: 41.31%;
}

#馬沙溝濱海遊憩區 {
    left: 19.45%;
    top: 36.88%;
}

#國立臺灣歷史博物館 {
    left: 35.44%;
    top: 63.83%;
}

#奇美博物館 {
    left: 34.73%;
    top: 84.75%;
}

#延平郡王祠 {
    left: 33.41%;
    top: 76.24%;
}

#赤崁樓 {
    left: 32.22%;
    top: 74.47%;
}

#臺南孔子廟 {
    left: 32.22%;
    top: 70.92%;
}

#祀典武廟 {
    left: 30.43%;
    top: 71.81%;
}

#五妃廟 {
    left: 31.98%;
    top: 77.66%;
}

#大天后宮 {
    left: 29.83%;
    top: 74.47%;
}

#安平小鎮 {
    left: 51.31%;
    top: 38.65%;
}